# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo

# Output files
*.json
!categories.json
!segments.json
!test_output/features.json
*.csv
*.txt
!requirements.txt
*.html
!dashboard_preview.html
!dashboard_template.html
!dashboard_latest.html
!test_output/index.html
!test_output/_headers

# Credentials
credentials/

# Local config
.feature_blacklist
.feature_names

# OS
.DS_Store

# Local Netlify folder
.netlify
